include:
  - project: 'city-of-helsinki/kuva/ci-cd-config/ci-configuration'
    ref: v2
    file: '/.gitlab-ci-template.yml'

variables:
  SERVICE_PORT: 80
  POSTGRES_ENABLED: 0

build-review:
  # These variables are available only for review env and are merged with the general variables defined above.
  extends: .build
  variables:
    DOCKER_IMAGE_NAME: '$CI_PROJECT_NAME-review'
    DOCKER_BUILD_ARG_REACT_APP_ENVIRONMENT: 'review'
    DOCKER_BUILD_ARG_REACT_APP_OIDC_AUTHORITY: 'https://tunnistamo.test.kuva.hel.ninja'
    DOCKER_BUILD_ARG_REACT_APP_OIDC_CLIENT_ID: 'https://api.hel.fi/auth/kukkuu-admin-ui'
    DOCKER_BUILD_ARG_REACT_APP_OIDC_SCOPE: 'openid profile https://api.hel.fi/auth/kukkuu'
    DOCKER_BUILD_ARG_REACT_APP_KUKKUU_API_OIDC_SCOPE: 'https://api.hel.fi/auth/kukkuu'
    DOCKER_BUILD_ARG_REACT_APP_API_URI: 'https://kukkuu.api.test.hel.ninja/graphql'
    DOCKER_BUILD_ARG_REACT_APP_SENTRY_DSN: 'https://c89ee3f57dc94ffd940d1df1a353b97f@sentry.hel.ninja/55'
  only:
    refs:
      - external_pull_requests

build-staging:
  extends: .build
  variables:
    DOCKER_IMAGE_NAME: '$CI_PROJECT_NAME-staging'
    DOCKER_BUILD_ARG_REACT_APP_ENVIRONMENT: 'staging'
    DOCKER_BUILD_ARG_REACT_APP_OIDC_AUTHORITY: 'https://tunnistamo.test.kuva.hel.ninja'
    DOCKER_BUILD_ARG_REACT_APP_OIDC_CLIENT_ID: 'https://api.hel.fi/auth/kukkuu-admin-ui'
    DOCKER_BUILD_ARG_REACT_APP_OIDC_SCOPE: 'openid profile https://api.hel.fi/auth/kukkuu'
    DOCKER_BUILD_ARG_REACT_APP_KUKKUU_API_OIDC_SCOPE: 'https://api.hel.fi/auth/kukkuu'
    DOCKER_BUILD_ARG_REACT_APP_API_URI: 'https://kukkuu.api.test.hel.ninja/graphql'
    DOCKER_BUILD_ARG_REACT_APP_SENTRY_DSN: 'https://c89ee3f57dc94ffd940d1df1a353b97f@sentry.hel.ninja/55'
  only:
    refs:
      - master

build-production:
  extends: .build
  variables:
    DOCKER_IMAGE_NAME: '$CI_PROJECT_NAME-production'
    DOCKER_BUILD_ARG_REACT_APP_ENVIRONMENT: 'production'
    DOCKER_BUILD_ARG_REACT_APP_OIDC_AUTHORITY: 'https://api.hel.fi/sso'
    DOCKER_BUILD_ARG_REACT_APP_OIDC_CLIENT_ID: 'https://api.hel.fi/auth/kukkuu-admin-ui'
    DOCKER_BUILD_ARG_REACT_APP_OIDC_SCOPE: 'openid profile https://api.hel.fi/auth/kukkuuapiprod'
    DOCKER_BUILD_ARG_REACT_APP_KUKKUU_API_OIDC_SCOPE: 'https://api.hel.fi/auth/kukkuuapiprod'
    DOCKER_BUILD_ARG_REACT_APP_API_URI: 'https://kukkuu-api.prod.hel.ninja/kukkuu/graphql'
    DOCKER_BUILD_ARG_REACT_APP_SENTRY_DSN: 'https://c89ee3f57dc94ffd940d1df1a353b97f@sentry.hel.ninja/55'
  only:
    refs:
      # this regexp will match release-tags
      - /^release-.*$/

review:
  variables:
    DOCKER_IMAGE_NAME: '$CI_PROJECT_NAME-review'

# This will enable staging ci-pipeline
staging:
  variables:
    DOCKER_IMAGE_NAME: '$CI_PROJECT_NAME-staging'

production:
  variables:
    DOCKER_IMAGE_NAME: "$CI_PROJECT_NAME-production"