# This file is for using public test environments of
# Kukkuu backend, Helsinki Profile and Keycloak.
services:
  app:
    container_name: kukkuu-admin
    build:
      context: .
      target: ${DOCKER_TARGET:-development}
    environment:
      NODE_ENV: ${DOCKER_TARGET:-development} # which node env the build uses. NOTE: Usually same as the ${DOCKER_TARGET}.
    env_file:
      - ".env"
      - ".env.local"
    volumes:
      - ".:/app"
      - "/app/node_modules"
    ports:
      - "3001:3001"
      - "8084:8080"
networks:
  default:
    name: helsinki
